.app__aboutus {
  position: relative;
  &-overlay {
    position: absolute;
    inset: 0;
    & img {
      width: 391px;
      height: 415px;
      z-index: 0;
    }
  }
  &-content {
    z-index: 2;
    gap: 56px;
    &_about {
      text-align: end;
    }
  }
  .spoon__img {
    display: inline-block;
    transform: rotate(180deg);
  }
  &-text {
    margin: 32px 0 40px 0;
  }
}

@media screen and (max-width: 1024px) {
  .app__aboutus {
    & .headtext__cormorant {
      font-size: 2.5rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .app__aboutus {
    &-content {
      z-index: 2;
      gap: 56px;
      flex-direction: column;
      &_about {
        text-align: initial;
      }
      &_knife img {
        width: 24%;
      }
    }
    &-overlay {
      & img {
        width: 80%;
        height: 320px;
      }
    }
  }
}
